<mat-card class="example-card">
    <div class="album-image">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </div>

    <div class="album-details">
        <div>
            <h4>Playlist</h4>
            <h3>Pop</h3>
            <p>som irado para alegrar seu dia</p>
        </div>
        <div class="display-buttons">
            <button mat-mini-fab color="primary"><mat-icon>play_arrow</mat-icon></button>
            <button mat-mini-fab color="primary"><mat-icon>playlist_add</mat-icon></button>
            <button mat-mini-fab color="primary"><mat-icon>share</mat-icon></button>
        </div>
    </div>


</mat-card>



<mat-list class="header-list">
    <mat-list-item> Musica </mat-list-item>
    <mat-list-item> Autor </mat-list-item>
    <mat-list-item> Tempo </mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<mat-list *ngFor="let music of musics" class="music-list">
    <mat-list-item> {{music.name}} </mat-list-item>
    <mat-list-item> {{music.autor}}</mat-list-item>
    <mat-list-item> {{music.time}}</mat-list-item>
</mat-list>