

.header-list{
    display: flex;
    justify-content: center;  
    margin-left: 10%;
    margin-right: 10%;    
    padding-bottom: 3%;
   
}


.music-list{

    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
  
    
}
.album-image{
    max-width: 200px;
}

.example-card {
    
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 3%;
    display: flex;
    
   
  }

  .display-buttons button {
  margin-right: 4%;
}
  

  .album-details{
      margin-left: 5%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

